{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    <div class="container" style="margin-top:50px;">
        <h1>Admin page</h1>
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8 main-content">
                <h2>CRUD</h2>
                <hr>
                <h3>Users</h3>
                <h3>Votes</h3>
                <h3>Vote Entries</h3>
                <h3>Comments</h3>

            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
{% endblock %}
