{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 50px;">
        <h1>Home</h1>
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8 main-content" style="padding:20px;">
                <h2>What is poll-y?</h2>
                <p>poll-y is a web application developed with the student union of Technological University Dublin in mind.
                This app will allow users to bring forward new ideas, and if they get enough people interested in their new proposed ideas,
                the administrators will then be able to bring the proposition forward to a for or against vote, which any student will
                be able to participate in.<br>
                We will then be able to visualize the results and see the general opinion on the students in the college on certain topics, which will allow
                the student union to know what new additions or changes to the college the students value most.</p>
                <p>This application was developed by <a href="https://www.github.com/danielmoran98"><span style="font-weight:500;">Daniel Moran</span></a> using the PHP Symfony 4 framework.</p>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>

{% endblock %}
