{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    <div class="container" style="margin-top:50px;">
        <h1>Admin page</h1>
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8 main-content">
                <p>As an admin you will now be able to access all pages on poll-y without restriction. You also have the ability to remove/edit posts, remove comments and remove/edit user details</p>
                <p>Tasks: Ensure all votes/comments/images follow guidelines, and remove posts that do not follow them.</p>
                <p>Users with repeated offences may have their accounts revoked.</p>

                <p>To edit/delete votes or comments go to the vote you would like to update and click the buttons on the panel on the right.
                    To update user records go to <strong><a href="{{ url('user_index') }}">the user index</a></strong>.</p>

            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
{% endblock %}
