{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    <style>@import "css/login.css";</style>
{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 main-content">
                <h2>Login</h2>
                <form action="post">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Username" id="username"><br>

                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" id="password"><br>
                    <input type="button" value="LOGIN" id="submitbutton"><br>
                </form>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>

{% endblock %}
