<style>
    @import "/css/footer.css";
</style>
<footer class="page-footer font-small" style="margin-top:85px;">

    <div class="container">

        <div class="row" style="">
            <div class="col-md-12 py-4">
                <div class="mb-5 flex-center" style="margin:0px !important; margin-left:30px !important">
                    <a class="li-ic" href="https://www.linkedin.com/in/danmorandev/">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="li-ic" href="https://github.com/DanielMoran98">
                        <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <a class="li-ic" href="mailto:danmoran.dev@gmail.com?subject=poll-y">
                        <i class="fas fa-envelope fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">Copyright 2019 ©
        <a href="https://github.com/DanielMoran98"> Daniel Moran</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->